@import '../variables';

.annotation-page {
    margin: 10px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

.annotation-content-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.annotation-controls-container {

    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;

    .predictions-toggle {
        margin-right: 7px;    
    }

    .thresh-container {

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;

        input {
            width: 80px;
            height: 5px;
        }
        
    }

    .conf-container {
        width: 280px;
    }

    .iou-container {
        width: 230px;
    }

    .move-button {
        margin-left: auto;

        span {
            margin-right: 7px;
        }
    }

}

.annotation-pane-container {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid $color-borders;
    border-radius: 5px;
}

.annotation-pane {
    background: red;
    position: absolute;
    user-select: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.labelling-img {
    display: block;
    max-width:100%;
    max-height: 100%;
}

.region-bb {

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    border-radius: 2px;
    border: 2px solid rgb(230,230,230);
    background: rgba(255,255,255,0.1);

    transition: box-shadow ease-out 0.25s, color 0.25s;
    transition-delay: 0s;

    user-select: none;
    font-size: 36px;
    color: rgb(200,200,200);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    font-family: 'Quicksand';

    cursor: pointer;

    &:hover {
        border-color: #a4cff3;
        background: rgba(255,255,255,0.15);
        box-shadow: 0 0 3px #b3d6f3, 0 0 3px #b3d6f3 inset;
        color: rgb(220,220,220);
    }

    &:focus-within {
        outline: none;
        border-color: rgb(103, 184, 250);
        box-shadow: 0 0 5px #b3d6f3, 0 0 5px #b3d6f3 inset;
        color: rgb(235,235,235);
    }

    &:focus {
        box-shadow: 0 0 8px #9ecaed, 0 0 8px #9ecaed inset;
    }

}

.label-input {

    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    top: calc(100% + 10px);
    transform: translateX(-50%); 

    border: none;
    text-align: center;

    &:focus {
        border-bottom: 1px solid darkgray;
    }

    &::placeholder {
        opacity: 0.4;
        user-select: none;
    }

}

.pred-bb {

    .conf-tab {

        position: absolute;
        display: none;

        bottom: calc(100% - 8px);
        left: 50%;
        transform: translate(-50%, -50%);

        border-radius: 5px;
        padding: 4px 10px;
        white-space: nowrap;

        background: white;
        font-size: 16px;
        text-shadow: none;
        color: $color-text;

        text-align: center;

        .ocr-container {
            border-top: 1px solid $color-borders;
            padding-top: 5px;
            margin-top: 5px;
        }

    }

    span {
        margin-right: 8px;
    }

}

.resize-tab {

    display: none;
    position: absolute;
    background: white;
    border: 2px solid gray;
    width: 13px;
    height: 13px;
    border-radius: 10px;

    &:hover {
        width: 12px;
        height: 12px;
        border-color: #79c1fc;
        background: #e8f5ff;
    }

    &:after {  // make clickable region bigger
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }

}

.sidebar-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 100%;
    width: 650px;
}

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid $color-borders;
    border-bottom: none;
    cursor: pointer;

    & + & {
        border-left: none;
    }

    .tab-text {
        margin-left: 10px;
        font-size: 14px;
    }

    &:hover {
        background: lighten($color-secondary, 2%);
    }

    &:active {
        background: darken($color-secondary, 1%);
    }

    &:first-child {
        border-top-left-radius: 5px;
    }

    &:last-child {
        border-top-right-radius: 5px;
    }

}

.focused-tab {
    box-shadow: 0 0 6px #44abff;
}

.tab-content-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    border: 1px solid darken($color-secondary, 20%);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-y: auto;

}

.regions-placeholder {

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darken($color-secondary, 12%);
    
    font-size: 20px;

    * + * {
        margin-top: 20px;
    }

}

.regions-list {
    
    align-self: stretch;
    flex: 1 1 auto;

}

.region-row {

    display: flex;
    flex-direction: row;
    padding: 14px 25px;
    padding-left: 18px;
    align-items: center;
    font-size: 14px;

    border-bottom: 1px solid lightgray;

    & > * {
        display: inline-block;
        flex: 0 0 auto;
    }

    .img-placeholder {
        font-size: 30px;
        margin-left: 20px;
    }

    .index-container {
        width: 25px;
        color: rgb(180,180,180);
        font-size: 20px;
        font-family: 'Quicksand';
        text-align: center;
        font-weight: 400;
    }

    .label-container {
        margin: 0 auto;
        font-size: 16px;
        max-width: 140px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .dims-container {

        display: flex;
        flex-direction: row;

        div {
            line-height: 18px;

            & + div {
                margin-left: 20px;
            }
        }

    }

    button {

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: auto;
        height: 35px;
        width: 35px;
        
        background: white;
        color: rgb(236, 11, 11);

        & > * {
            font-size: 20px;
        }

        &:hover {
            box-shadow: 0 0 5px #ff7272;
        }

        &:active {
            outline: none;
            background: rgb(230,230,230);
        }

        &:focus {
            outline: none;
        }

    }

}

.prev-btn {
    color: $color-text;
}

.focused-row {
    background: rgb(250,250,250);
}